.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author__avatar-wrap {
  margin-top: 0;
  margin-bottom: 0;
}

.author__info {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 0;

  line-height: 18px;
}

.author__email {
  display: block;

  font-size: 14px;
  color: $color-email-text;
}

@media (min-width: $desktop-width) {
  .author__avatar-wrap--card {
    width: 55px;
    height: 55px;

    border: 1px solid $color-avatar-border;
    border-radius: 8px;
    overflow: hidden;
  }

  .author__info {
    color: $color-author-text;
    font-size: 30px;
    line-height: 25px;
  }

  .author__email {
    font-size: 18px;
    color: $color-author-text;
  }
}
