.picture {
  position: relative;

  width: 330px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;

  line-height: 0;

  overflow: hidden;
  border-radius: 8px;
}

.picture__hover-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: rgba(40, 36, 22, 0.5);

  z-index: 0;

  &:hover,
  &:focus {
    z-index: 100;
    // filter: blur(20px);
  }
}

.picture__box {
  position: relative;

  width: 330px;

  z-index: 10;

  &:hover + .picture__hover-box,
  &:focus + .picture__hover-box {
    z-index: 100;
  }
}

.picture__image {
  width: 330px;
}

@media (min-width: $desktop-width) {
  .picture {
    width: 476px;
  }

  .picture__box {
    width: 476px;
  }

  .picture__image {
    width: 476px;
  }
}
