.pictures {
  padding-top: 81px;
  padding-bottom: 30px;
}

.pictures__wrapper {
  margin-bottom: 20px;
}

.pictures__toggle-view-box {
  display: none;
}

.pictures__scroll-up-wrap {
  display: flex;
  justify-content: flex-end;
  width: 330px;
  margin: 0 auto;
}

@media (min-width: 720px) {
  .pictures {
    padding-top: 29px;
  }

  .pictures__wrapper {
    margin-bottom: 40px;
  }

  .pictures__scroll-up-wrap {
    width: 476px;
  }

  .pictures__toggle-view-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 29px;
  }

  .pictures__toggle-view {
    position: relative;

    width: 23px;
    height: 23px;

    background-color: $color-btn-toggle-view-first-bg;
    border: none;

    z-index: 10;

    cursor: pointer;

    &:hover,
    &:focus {
      opacity: $opacity-btn-toggle-view-hover;
    }
  }

  .pictures__toggle-view--list {
    margin-right: 20px;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      right: 0;
      top: 50%;

      height: 3px;
      margin-top: -1px;

      background-color: $color-btn-toggle-view-second-bg;
      z-index: 100;
    }
  }

  .pictures__toggle-view--active {
    background-color: $color-btn-toggle-view-first-bg-active;
  }

  .pictures__toggle-view--gallery {
    &::before {
      content: "";

      position: absolute;
      left: 0;
      right: 0;
      top: 50%;

      height: 3px;
      margin-top: -1px;

      background-color: $color-btn-toggle-view-second-bg;
      z-index: 100;
    }

    &::after {
      content: "";

      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;

      width: 3px;
      margin-left: -2px;

      background-color: $color-btn-toggle-view-second-bg;
      z-index: 100;
    }
  }

  .pictures__wrapper--gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 4995px;
    margin-left: -18px;

    .pictures__item {
      margin-left: 18px;
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .pictures {
    padding-bottom: 60px;
  }

  .pictures__wrapper--gallery {
    height: 5050px;
  }
}
