.picture-card__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  margin-bottom: 32px;
}

.picture-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100px;
}

.picture-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  border-radius: 8px;
  box-shadow: 0 0 4px $color-shadow-icons;

  &:hover .picture-card__icon,
  &:focus .picture-card__icon {
    transform: scale(1.1);
  }

  &:active .picture-card__icon {
    opacity: $opacity-down;
  }
}

.picture-card__button-text {
  display: none;
}

.picture-card__button--favorite {
  width: 41px;
  height: 41px;
}

.picture-card__button--included-in-favorite {
  .picture-card__icon--favorite {
    fill: $color-favorite-icon-bg;
  }

  &:hover .picture-card__icon--favorite,
  &:focus .picture-card__icon--favorite {
    fill: $color-favorite-icon-bg-hover;
  }

  &:active .picture-card__icon {
    fill: $color-favorite-icon-bg-active;
  }
}

.picture-card__button--download {
  width: 41px;
  height: 41px;

  background-color: $bg-color-wrapper-icons;
}

.picture-card__button--fullscreen {
  position: absolute;
  right: 25px;
  bottom: 17px;

  width: 20px;
  height: 20px;
}

.picture-card__icon {
  transition: all 0.2s ease;
}

.picture-card__icon--favorite {
  width: 27px;
  height: 21px;

  fill: $color-icon-secondary-bg;
}

.picture-card__icon--download {
  width: 20px;
  height: 26px;

  fill: $color-icon-third-bg;
}

.picture-card__icon--fullscreen {
  width: 20px;
  height: 20px;

  fill: $color-icon-third-bg;
}

.picture-card__image-wrap {
  position: relative;

  width: 330px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

  line-height: 0;

  border-radius: 8px;
  overflow: hidden;
}

.picture-card__image {
  width: 330px;
}

@media (min-width: $desktop-width) {
  .picture-card__image-wrap {
    width: auto;
    box-shadow: 0 4px 100px rgb(0, 0, 0);
  }

  .picture-card__image {
    width: 100%;
  }

  .picture-card__actions {
    width: 275px;
  }

  .picture-card__button--download {
    width: 207px;
    height: 50px;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;

    transition: all 0.2s ease;

    &:hover,
    &:focus {
      opacity: $opacity-hover;
    }

    &:active {
      opacity: $opacity-down;
    }
  }

  .picture-card__button-text {
    display: block;
    margin-left: 12px;

    font-size: 20px;
    line-height: 24px;
    color: $secondary-color-text;
  }

  .picture-card__button--favorite {
    width: 50px;
    height: 50px;

    background-color: $color-main-bg;
  }

  .picture-card__button--fullscreen {
    width: 30px;
    height: 30px;
  }

  .picture-card__icon--fullscreen {
    width: 30px;
    height: 30px;
  }
}
