.similar-pictures {
  padding-bottom: 20px;
}

.similar-pictures__scroll-up {
  margin-top: 30px;
  margin-left: auto;
}

@media (min-width: $desktop-width) {
  .similar-pictures__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    height: 1545px;
    margin-left: -35px;
  }

  .similar-pictures__item {
    margin-left: 35px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

