.tags__title {
  margin-top: 0;
  margin-bottom: 15px;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
  width: 285px;
  margin-left: -10px;

  @include list-reset();
}

.tags__item {
  padding-top: 7px;
  padding-right: 11px;
  padding-left: 11px;
  padding-bottom: 7px;
  margin-left: 10px;
  margin-bottom: 10px;

  color: $color-tags-text;
  font-size: 14px;
  line-height: 17px;

  background-color: $color-tags-bg;
  border-radius: 8px;
}

.tags__alert {
  color: $secondary-color-text;
  text-align: center;
}

@media (min-width: $desktop-width) {
  .tags__title {
    margin-bottom: 20px;

    text-align: center;
    font-size: 24px;
    line-height: 29px;

    color: $secondary-color-text;
  }

  .tags__list {
    width: 545px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .tags__item {
    margin-left: 20px;
  }
}
