@font-face {
  font-weight: 400;
  font-family: "SF UI";
  font-style: normal;
  src: url("../../public/fonts/sf_ui_regular.woff2") format("woff2"), url("../../public/fonts/sf_ui_regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: "SF UI";
  font-style: normal;
  src: url("../../public/fonts/sf_ui_semibold.woff2") format("woff2"), url("../../public/fonts/sf_ui_semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "SF UI";
  font-style: normal;
  src: url("../../public/fonts/sf_ui_bold.woff2") format("woff2"), url("../../public/fonts/sf_ui_bold.woff") format("woff");
  font-display: swap;
}
