$main-font: "SF UI", "Arial", sans-serif;
$main-color-text: rgb(0, 0, 0);
$main-color-text-hover: rgba(0, 0, 0, 0.6);
$main-color-text-active: rgba(0, 0, 0, 0.3);
$secondary-color-text: rgb(255, 255, 255);
$secondary-color-text-hover: rgba(255, 255, 255, 0.3);
$secondary-color-text-active: rgba(255, 255, 255, 0.6);
$color-main-bg: rgb(255, 255, 255);
$color-secondary-bg: rgb(0, 0, 0);
$opacity-hover: 0.6;
$opacity-down: 0.3;
$mobile-width: 375px;
$mobile-width-only: 1559px;
$desktop-width: 1560px;

$color-btn-toggle-view-first-bg: rgb(189, 189, 189);
$color-btn-toggle-view-first-bg-active: rgb(0, 0, 0);
$color-btn-toggle-view-second-bg: rgb(255, 255, 255);
$opacity-btn-toggle-view-hover: 0.5;
$opacity-btn-toggle-view-active: 0.8;
$color-main-icon-bg: rgb(211, 210, 210);
$bg-first-color-icons: rgb(130, 130, 130);
$bg-second-color-icons: rgb(255, 255, 255);
$bg-color-wrapper-icons: rgb(33, 150, 83);
$color-shadow-icons: rgba(0, 0, 0, 0.25);
$bg-tags-color: rgb(242, 242, 242);
$color-tags-text: rgb(130, 130, 130);
$color-email-text: rgb(189, 189, 189);
$border-color-avatar: rgb(255, 255, 255);
$color-author-text: rgb(242, 242, 242);
